
#left{
	background-color: #f2f2f2;
}

#world {
    fill: #4d4d4d;
    background-color: #ffffff;
    stroke: #4d4d4d;
}

.page{
    display: table-cell;
}

footer{
    height: 64px;
    bottom: 0;
}

body{
    margin: 0;
}

.footer-content {
    display: grid;
    justify-content: center;
    background-color: red;
}